.register-page {
  text-align: center;
  height: 100%;
  margin: 10px auto;
  padding: 5px;
  max-width: 60%;
}

.register-page h2 {
  color: black;
  font-family: cursive;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 3px;
  border-bottom: 5px solid black;
}
