.shopping-page{
    max-width: 1080px;
    margin: auto;
}

.shopping-top{
    margin: 70px 100px 70px 100px;
    text-align: center;
}

.shopping-top h2{
    color: grey;
    font-size: 1.3em;
    font-weight: bold;
}

.shopping-top select{
    width: 150px;
}

.shopping-main{
    display: flex;
    margin-top: 20px;
    text-align: center;
}


.shopping-list{
    flex-grow: 8;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.shopping-list ul{
    list-style-type: none;
}


.page-button{
    margin-top: 20px;
    text-align: center;
    letter-spacing: 20px;
}

.page-button a{
    text-decoration: none;
    color: black;
}

.page-button a:hover{
    color: hotpink;
}