.shopping-nav{
    flex-grow: 1;
    margin-left: 50px;
}

.shopping-nav ul{
    list-style-type: none;
}

.shopping-nav ul li{
    margin-top: 20px;
}

.shopping-nav ul li a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.shopping-nav ul li a:hover{
    color: hotpink;
}
