* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: auto;
}

footer {
  margin-top: 40px;
  text-align: center;
}

footer .fa {
  color: #e4bfd6;
  font-size: 2em;
}
.info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-link {
  flex-basis: 50%;
  margin: auto;
}

.info-link a {
  text-decoration: none;
  color: white;
}

.info-link .fa {
  margin-left: 20px;
  margin-top: 10px;
}
