.item-main{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.item-left{
    margin-right: 30px;
}


.item-image-main{
    margin-bottom: 20px;
}

.item-image-main img{
    width: 500px;
    height: 500px;
}

.item-image-select{
    display: inline-block;
    cursor: pointer;
}

.item-image-select button{
    border: none;
}

.item-image-select img{
    width: 120px;
    height: 80px;
}


.item-right h2{
    font-weight: bold;
    font-size: 2em;
    color: grey;
    margin-bottom: 20px;
}

.item-right h3{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.item-right h4{
    font-weight: bold;
    font-size: 1.3em;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.select-item{
    margin-left: 100px;
}
.select-item .select-color{
    margin-bottom: 20px;
}

.select-item select{
    margin-bottom: 20px;
}

.select-item .select-scent{
    margin-bottom: 20px;
}

.select-item .select-qty{
    margin-bottom: 20px;
}

.select-item button{
    margin-bottom: 20px;
    width: 50%;
    outline: none;
    background-color: #e4bfd6;
    border: none;
    border-radius: 15px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
}

.select-item button:hover{
    background-color: #ca9fba;
}

.select-item button:active{
    background-color: #ca9fba;
    transform: translateY(4px);
}

@media all and (max-width : 800px){
    .item-main{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .item-image-main img{
        width: 300px;
        height: 300px;
    }
    .item-image-select img{
        width: 64px;
        height: 64px;
    }
}